<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 🌐 İzinler -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 📸 Kamera izni -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 📸 Kamera donanımı: zorunlu değil -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
		
		<!-- Android 13+ için bildirim izni -->
<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".app.AquaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 📂 FileProvider (kamera fotoğrafı için geçici dosya URI) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 🚀 Launcher (Splash) -->
        <activity
            android:name="com.aqua.aqualight.ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🧭 Ana Activity -->
        <activity
            android:name="com.aqua.aqualight.ui.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

    </application>

</manifest>