<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.aqua.aqualight.ui.common.feedback.Stage8DialogTestActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />

        <provider
            android:name="com.aqua.aqualight.debug.devices.InstallableDebugFixtureBootstrapProvider"
            android:authorities="${applicationId}.installable-debug-fixture"
            android:exported="false"
            android:initOrder="100" />

        <provider
            android:name="com.aqua.aqualight.debug.diagnostics.DebugDiagnosticBootstrapProvider"
            android:authorities="${applicationId}.debug-diagnostic-overlay"
            android:exported="false"
            android:initOrder="200" />
    </application>
</manifest>
